<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN Home</title>
</head>
<body>
    <h1> Login Page </h1>
    
    <% if(message.length > 0) { %>
        <div class="error"><%= message %></div>
    <% } %>

    <form action="/login" method="post">
        <label for="">Email</label>
        <input type="text" name="email">

        <br>
        <label for="">Password</label>
        <input type="password" name="password">
        
        <br>
        <input type="submit" value="Login">
    </form>



</body>
</html>